*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    
  
}
:root{
    font-size: 62.5%;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: blue;
    transition: 0.5s ease-in-out;
}
.bar{
    width:inherit;
    height: 3px;
    background-color: #FFCC00;
}

.container{
    max-width: 1400px;
    width: 100%;
}
.header{
    height: 125px;  
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #FFCC00;
    z-index: 1;
    top: 0;
}
.header-content{
    display: flex;
    padding-left: 25px;
    height: 75px;
    justify-content: space-between;
    align-items: center;
  
}
.header-content .header-logo img{
    width: 160px;
    margin: 0px 0px 0px 10px
}

nav.header-menu ul{
    list-style-type: none;
    display: flex;
    height: 100%;
}
nav.header-menu ul li{
    padding: 8px;
    font-size: 1.7rem;
    color: black;
}
nav.header-menu ul i.fas{
    width: 30px;
    font-size: 30px;
    align-self: center;
}

li#services{
    position: relative;
}
nav#sub-services{
    max-width: 264px;
    min-width: 250px;
    display: none;
    
  
    
}
.select{
    font-weight: bold;
}
li#services:hover nav#sub-services{
    background-color: white;
    display: block;
    max-height: 230px;
    min-height: 220px;
    position: absolute;
    border-bottom: 3px solid #FFCC00 ;
    z-index: 1000;
}
nav#sub-services ul{
    display: block;
    margin-top: 8%;
    
}
nav#sub-services li,
nav#sub-services li a{
    letter-spacing: -1px;
    word-spacing: 1px;
    font-size: 1.6rem;
    
}
nav#sub-services li:hover,
nav#sub-services li:hover a{
    color: blue;
    transition: 0.5s ease-in-out;
    
}
#ul-resp{
   
    display: none;
}


    


/* Main */

/* Slider */
section.section-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 640px;
}
section .slider-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 439px;
    cursor: pointer;
}
section .slider-content img{
    width: 100%;
    height: 100%;
}
section .search-area{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-area-content{
    width: inherit;
    height: 181px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-area-box{
    max-width: 1340px;
    width: 100%;
    height: 81px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 0 1em gray;
   


}
.search-area-box form{
    width: inherit;
    padding: 20px;
    
    display: grid;
    grid-template-columns: 4fr 3fr 2fr 2fr;   
    gap: 10px;
}

.form-btns{
    display:flex ;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
}
.form-btns label{
    flex: 1;
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    cursor: pointer;
}
.form-btns label.selected{
    background-color: blue;
    color: white;
}
.form-btns label:hover{
    background-color: blue;
    color: white;
}
.form-btns label:nth-child(1){
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.form-btns label:nth-child(2){
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.aux-Input-City{
    width: 100%;
    height: 40px;
    background-color: white;
    position: relative;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    
}
.aux-Input-City input{
    width: 100%;
    height: 40px;
}
input:focus{
    outline: none;
}

.aux-Input-City input::-webkit-calendar-picker-indicator {
    display: none;
 } 
.aux-Input-City datalist#list{
    background-color: white;
    width: 30px;
}
.aux-Input-City datalist option{
    background-color: white;
    width: 30px;
}
 

.aux-Input-City select option:hover{
    background-color: blue;
}

i.fas.fa-chevron-down{
    position: absolute;
    z-index: 99;
    right: 10px;
    color: gray;
}
.aux-Input-Type {
    width: 100%;
    height: 40px;
    background-color: white;
    position: relative;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    
}
.aux-Input-Type input{
    width: 100%;
    height: 40px;
}
.aux-Input-Type input::-webkit-calendar-picker-indicator {
   display: none;
} 



.search-area-content a{
    color: blue;
    cursor: pointer;
    margin-top: 30px;
    font-size: 1.6rem;
}
form button{
    height: 40px;
    background-color: blue;
    color: white;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 5px;
}


/* Imoveis a Venda */

section.sell-estate{
    background-color: #E0E0E0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 60px;
}

.sell-estate-title-area{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}
.sell-estate-title{
   max-width: 212px;
   width: 100%;

}
.sell-estate-title h2{
    width: inherit;
    font-size: 2.3rem;
    padding: 0 0 5px 0;
}
.sell-estate-title .bar{
    width: inherit;
}

.sell-estate-title-area a{
    font-size: 1.8rem;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 10px 15px;
}
.sell-estate-title-area a:hover{
    font-size: 1.8rem;
    background-color: blue;
    color: white;
    transition: 0.5s ease-in-out;
    border-radius: 5px;
    padding: 10px 15px;
}

.estates-content{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) ) ;
    gap: 0 30px;
}
.estate{
    max-height: 500px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 1.6rem;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 0 1em gray;
    

}
.estate:hover{
    transform: scale(1.03) ;
    transition: 0.5s;
}
.estate img{
    width: inherit;
    max-height: 220px;
    min-height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-position: center top;

}
.estate img:hover{
    cursor: pointer;
}
.estate .type{
    max-width: 43%;
    width: 100%;
    position: absolute;
    top: 15px;
    padding: 3px 10px;
    background-color: blue;
    border-bottom-right-radius: 5px ;
    border-top-right-radius: 5px ;
    color: white;
 
}
.estate .furnished{
    max-width: 43%;
    width: 100%;
    position: absolute;
    top: 40px;
    margin: 10px 0;
    padding: 3px 10px;
    background-color: #FFCC00 ;
    border-bottom-right-radius: 5px ;
    border-top-right-radius: 5px ;
    color: white;
}
.estate .state{
    position: absolute;
    top: 35%;
    padding: 3px;
    color: white;
    font-size: 1.8rem;
    margin-left: 10px;
}
.estate-content{
    margin-top: 20px ;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    padding: 10px;

}
.estate-content .location{
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.estate-content .description{
    text-align: start;
}
.obs-estate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.estate-bar{
    height: 1px;
    background-color: gray;
    width: 70%;
    margin: 10px 0;
}
.obs-estate-content{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    
}
.obs-estate-content i.fas{
    margin: 0 5px;
}
.price{
    align-self: flex-start;
    font-size: 18px;
    
}
.price-amount{
    align-self: flex-start;
    margin-top: 5px;
    font-weight: bold;
}



.rent-estate-title-area{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}
.rent-estate-title-area a{
    font-size: 1.8rem;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 10px 15px;
}
.rent-estate-title-area a:hover{
    font-size: 1.8rem;
    background-color: blue;
    color: white;
    transition: 0.5s ease-in-out;
    border-radius: 5px;
    padding: 10px 15px;
}
.rent-estate-title h2{
    font-size: 2.3rem;
}

.rent-content{
    margin-top: 30px;
    display: flex;

}

.rent{
    max-height: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 1.6rem;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 0 1em gray;
    

}
.rent:hover{
    transform: scale(1.03) ;
    transition: 0.5s;
}
.rent img{
    width: inherit;
    max-height: 220px;
    min-height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-position: center top;
    
}
.rent img:hover{
    cursor: pointer;
}
.rent .type{
    max-width: 43%;
    width: 100%;
    position: absolute;
    top: 15px;
    padding: 3px 10px;
    background-color: blue;
    border-bottom-right-radius: 5px ;
    border-top-right-radius: 5px ;
    color: white;
 
}
.rent .furnished{
    max-width: 43%;
    width: 100%;
    position: absolute;
    top: 40px;
    margin: 10px 0;
    padding: 3px 10px;
    background-color: #FFCC00 ;
    border-bottom-right-radius: 5px ;
    border-top-right-radius: 5px ;
    color: white;
}
.rent .state{
    position: absolute;
    top: 35%;
    padding: 3px;
    color: white;
    font-size: 1.8rem;
    margin-left: 10px;
}
.rent-content{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) ) ;
    gap: 30px;

}
.rent-about{
    margin-top: 20px ;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.rent-about .location{
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0px;
}
.rent-about .description{
    text-align: start;
}
.obs-rent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rent-bar{
    height: 1px;
    background-color: gray;
    width: 70%;
    margin: 10px 0;
}
.obs-rent-content{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    
}
.obs-rent-content i.fas{
    margin: 0 5px;
}
.rent .price{
    align-self: flex-start;
    font-size: 18px;
    
}
.rent .priceAmount{
    align-self: flex-start;
    margin-top: 5px;
    font-weight: bold;
}
.model{
    display: none;
}



.posts-title-area{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}
.posts-title h2{
    font-size: 2.3rem;
}
.posts{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.posts-content{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
    gap: 30px;
    padding: 20px;
}
.post{
    max-height: 600px;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 1em gray;
    overflow-x: hidden;
}
.post:hover{
    transform: scale(1.02);
    transition: 0.5s ease-in-out;
}
.post:nth-child(1) img{
    width: 100%;
    height: 70%;
    background-size: cover;
    background-repeat: no-repeat;
}
.post-title{
    text-transform: uppercase;
    font-size: 2.3rem;
    padding: 10px;
    color: blue ;
}
.post-desc{
    font-size: 1.6rem;
    padding: 0 10px;
}
.post-time{
    color: gray;
    font-size: 1.3rem;
    padding: 0 10px;
}
.post:nth-child(2) img{
    width: 100%;
    height: 60%;
    background-size: cover;
    background-repeat: no-repeat;
}
.footer{
    background-color: white;
    display: flex;
    justify-content: center;
}
.footer-bar{
    height: 3px;
    background-color: #FFCC00;
    width: 100%;
}
.footer-content{
    margin-top: 10px;
}
.footer-content .local{
    font-size: 1.8rem;
    font-weight: bold;
    color: gray;
}
.adress{
    padding: 5px 15px;
    font-size: 1.6rem;

}
.adress-title{
    font-size: 1.8rem;
    font-weight: bold;
    padding: 10px 0;
}
.attendance{
    padding: 5px 15px;
    font-size: 1.6rem;
}

.attendance-title{
    font-size: 1.8rem;
    font-weight: bold;
    padding: 10px 0;
}
.phones{
    padding: 5px 15px;
    font-size: 1.6rem;
}
.phones-title{
    font-size: 1.8rem;
    font-weight: bold;
}
.type-phones{
    color: gray;
    padding: 5px;
}
.phones a{
    color: blue;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }





@media screen and (max-width: 1024px){
    .search-area-content{
        height:250px;
        margin-top: 30px;
        background-color: white;
    }
    .search-area-content a{
        margin-top: 20px;
    }
    .search-area-box{
        width: 95%;
        height: 230px;
    }
    .search-area-box form{
        display: flex;
        flex-direction: column;
    }
    section.sell-estate{
        margin-top: 30px;
    }
    nav.header-menu ul{
        display: none;
    }
    #ul-resp{
        display: block;
        width: 150px;
        height: 30px;
        display: flex;
        justify-content: space-between;
        font-size: 30px;
    }
}